 @model IEnumerable<MovieTicketBookingManagementWeb.Models.Cinema>
<h2>Cinema</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cinema in Model)
        {
            <tr>
                <td>@cinema.Id</td>
                <td>@cinema.Name</td>
                <td>@cinema.Location</td>
                <td>
                    <a asp-action="Display" asp-route-id="@cinema.Id">View</a> |
                    <a asp-action="Update" asp-route-id="@cinema.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@cinema.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>